<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="WixTutorialPackage" Manufacturer="Procrustean Solutions LLC" Version="1.0.0.0" UpgradeCode="0ad42373-3a84-4ecf-a75c-7bcee134ebbb">
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

    <MediaTemplate EmbedCab="yes" />

    <Feature Id="Main">
      <ComponentGroupRef Id="AppComponents" />
    </Feature>
  </Package>
</Wix>
